/******************************************** 
 リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

/*リセットここまで */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px; /* ヘッダーの高さを65pxに設定 */
  padding: 10px;
  background-color: #1c3667; /* ヘッダーの背景色を設定 */
}

.header-title {
  font-family: 'Roboto', sans-serif; /* フォントファミリーをRobotoに設定 */
  font-size: 23px; /* フォントサイズを23pxに設定 */
  font-weight: 100; /* フォントの太さを100（Thin）に設定 */
  letter-spacing: 1.8px; /* 文字間を1.8pxに設定 */
  color: #FFFFFF; /* 文字色を白(#FFFFFF)に設定 */
  margin-right: 10px; /* ヘッダー内のタイトルの右マージンを設定 */
}
.question-button {
  font-size: 16px; /* フォントサイズを16pxに設定 */
  background-color: #ffffff; /* 背景色を白(#ffffff)に設定 */
  color: #3A3736; /* 文字色を3A3736に設定 */
  border-radius: 5px; /* 角丸を5pxに設定 */
  text-decoration: none;
  height: 32px; /* 高さを32pxに設定 */
  width: 80px; /* 横幅を80pxに設定 */
  margin-right: 20px; /* 右の余白を20pxに設定 */
  display: flex; /* テキストを中央に配置するためにflexを使用 */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
}
.contents {
  display: flex; /* Flexbox を使用して要素を横並びにする */
  justify-content: center; /* 横方向（左右）に中央揃えする */
  align-items: center; /* 縦方向（上下）に中央揃えする */
  flex-wrap: wrap; /* 要素が一列に収まらない場合は折り返す */
  width: 700px; /* コンテンツの最大幅を指定 */
  margin: 0 auto; /* 左右の余白を自動で調整して中央揃えする */
  margin-top: 90px;
}
.additional-block {
  width: 80px; /* 幅を80pxに変更 */
  height: 100px;
  background-color: #ee6352;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.post {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: 620px;
  width: 100%;
  height: 100px; 
  position: relative;
  flex: 1;
  padding-left: 90px; /* タイトルと内容の左側に90pxの余白を追加 */
}





.comments-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2; /* 行間を制御 */
}

.comments-number {
  font-size: 26px;
  font-weight: bold;
}

.comments-text {
  font-size: 11px;
}







.title-and-name {
  display: flex;
  justify-content: space-between; /* タイトルと名前を横並びにする */
}
.title {
  font-size: 16px;
  font-weight: bold;
  width: 500px; /* タイトルの幅を指定 */
}

.container {
  width: 700px;
  margin: 0 auto;
  padding: 45px 0;
  background-color: #f0f0f0;
  margin-top: 80px;
}


.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-wrapper {
  display: flex; /* Flexboxを有効にする */
  justify-content: center; /* 子要素を横方向に中央揃え */
  align-items: center; /* 子要素を縦方向に中央揃え */
}



  
